<mat-toolbar color="primary">
    <span>Tree CRUD Operations</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <br>
  <div class="node"> 

      <div class="newnode">
    
      <mat-form-field (keyup.enter)="addTreeNode(newNodeName.value)">
        <input matInput #newNodeName placeholder="New node name">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="addTreeNode(newNodeName.value)">Add Node</button>
    <!-- <button mat-raised-button color="warn" >Delete Node</button> -->
  </div>
  <!-- <div *ngIf="addTreeNode(newNodeName.value)">test</div> -->
  <div class="subnode">
    <div class="subnode1">

        <mat-form-field (keyup.enter)="addSubNode(parentNodeName.value, subNodeName.value)" >
            <input matInput #parentNodeName placeholder="Parent node name">
        </mat-form-field>
    </div>
    <div class="subnode2">

        <mat-form-field (keyup.enter)="addSubNode(parentNodeName.value, subNodeName.value)">
            <input matInput #subNodeName placeholder="Sub node name">
        </mat-form-field>
    </div>    
    <!-- <br><br> -->
    <button mat-raised-button color="primary" (click)="addSubNode(parentNodeName.value, subNodeName.value)">Add Sub Node</button>
    </div>
  
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button mat-icon-button disabled ></button>
      
      {{node.name}}
    </mat-tree-node>
  
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon color="primary" class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.name}}
    </mat-tree-node>
  </mat-tree>
  